@{
ViewData["Title"] = "Home";
}

<div class="bg">
   <header>
      <div class="container">
         <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/home/index">
               <div class="shadow-box-logo">
                  <img src="~/images/logo-camping-png-4.png" width="80" height="80" alt="">
               </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item active-link">
                     <a class="nav-link" href="/home/index">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/account/login">Login</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/account/register">Register</a>
                  </li>
               </ul>
            </div>
         </nav>
      </div>
   </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="shadow-box">
                        <center>
                            <h1>Camping De Maasvallei</h1>
                            <em>
                                <h2>"Camp In The <span style="color: #7dc6b5;">Nature</span>"</h2>
                            </em>
                        </center>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <center><a href="/account/login" class="button">Reserveer</a></center>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
      <div class="social-media">
         <a href="#"><i class="fab fa-instagram"></i></a>
         <a href="#"><i class="fab fa-youtube"></i></a>
         <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
      <p class="footer-text"><span style="color: #60998c">&copy</span>De Maasvallei | 2020 </p>
   </footer>
</div>